<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.milestone.mygeo.dao.ICityDao">


    <insert id="insertCity" parameterType="City">
        insert into city(city_name, creater ,created_at) 
            values(#{city_name}, #{creater}, #{created_at})
            
        <selectKey keyProperty="city_id" resultType="int" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey> 
	</insert>
	
	
    <select id="geCities"  resultType="City" parameterType="City">
		select * from city where city_name = #{city_name} and is_del=0
    </select>
    
    <select id="getCityByPage"  resultType="City" parameterType="int">
		select * from city where is_del=0 limit #{index},10
    </select>
    
    <select id="cityCount"  resultType="int" >
		select count(*) from city where is_del=0
    </select>
    
    
    <update id="updateCity" parameterType="City" >  
	    update city  
	    <set >  
	    <if test="city_name != null" >  
	        city_name = #{city_name},  
	      </if> 
	      <if test="creater != null" >  
	        creater = #{creater},  
	      </if>  
	             
	    </set>  
	    where city_id = #{city_id}  
	</update>
    
    
    <select id="getAllCity"  resultType="City" >
		select * from city where is_del=0
    </select>
    
    <update id="deleteCityByCityId"  parameterType="int" >
		update city set is_del=1 where city_id = #{city_id} 
    </update>
    
    
    
</mapper>

