<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.milestone.mygeo.dao.ICoordinateDao">


    <insert id="insertCoordinate" parameterType="Coordinate">
        insert into coordinate(coordinatename, a ,f, L_mid ,B0, dN ,dE, dX ,dY, dZ ,RX, RY ,RZ, K) 
            values(#{coordinatename}, #{a}, #{f}, #{L_mid}, #{B0}, #{dN}, #{dE}, #{dX}, #{dY}, #{dZ}, #{RX}, #{RY}, #{RZ}, #{K})
            
        <selectKey keyProperty="id" resultType="int" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey> 
	</insert>
	
	<update id="updateCoordinate" parameterType="Coordinate" >  
	    update coordinate  
	    <set >  
	      <if test="coordinatename != null" >  
	        coordinatename = #{coordinatename},  
	      </if> 
	      <if test="a != null" >  
	        a = #{a},  
	      </if>  
	      <if test="f != null" >  
	        f = #{f},  
	      </if> 
	      <if test="L_mid != null" >  
	        L_mid = #{L_mid},  
	      </if>
	      <if test="B0 != null" >  
	        B0 = #{B0},  
	      </if> 
	      <if test="dN != null" >  
	        dN = #{dN},  
	      </if>
	      <if test="dE != null" >  
	        dE = #{dE},  
	      </if> 
	      <if test="dX != null" >  
	        dX = #{dX},  
	      </if>
	      <if test="dY != null" >  
	        dY = #{dY},  
	      </if> 
	      <if test="dZ != null" >  
	        dZ = #{dZ},  
	      </if>
	      <if test="RX != null" >  
	        RX = #{RX},  
	      </if> 
	      <if test="RY != null" >  
	        RY = #{RY},  
	      </if>
	      <if test="RZ != null" >  
	        RZ = #{RZ},  
	      </if> 
	      <if test="K != null" >  
	        K = #{K},  
	      </if>	             
	    </set>  
	    where id = #{id}  
	</update>
	
	
    <select id="selectAllCoordinate"  resultType="Coordinate">
		select * from coordinate where is_del=0
    </select>
    
    
    <update id="deleteCoordinate"  parameterType="int" >
		update coordinate set is_del=1 where id = #{id} 
    </update>
    
    
	<select id="selectCoordinateById"  resultType="Coordinate" parameterType="int">
		select * from coordinate where id = #{id} and is_del=0
    </select>
 
    
</mapper>

