<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.milestone.mygeo.dao.ILayoutCityDao">



	<insert id="insertLayoutCategory" parameterType="LayoutCategory">
        insert into layout_category(name,city_id) 
            values(#{name},#{city_id})
            
        <selectKey keyProperty="id" resultType="int" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>  
	</insert>
	
	<update id="updateLayoutCategory" parameterType="LayoutCategory" >  
	    update layout_category  
	    <set >  
	      <if test="name != null" >  
	        name = #{name},  
	      </if>              
	    </set>  
	    where id = #{id}  
	</update>
	
	
	
    <select id="getLayoutCategoryByCid"  resultType="LayoutCategory" parameterType="int">    
    	select * from layout_category where city_id = #{city_id} and is_del=0
    </select>
    
    <select id="getLayoutCategories"  resultType="LayoutCategory" parameterType="LayoutCategory">
   		select * from layout_category  where city_id = #{city_id} and name = #{name} and is_del=0
    </select>
    
	
	<insert id="insertLayoutCity" parameterType="LayoutCity">
     insert into layout_city(city_id, layout_category_id) 
            values(#{city_id}, #{layout_category_id})
     
	</insert>
	
	
	<insert id="insertLayout" parameterType="Layout">
     insert into layout(father_category, layout_name,city_id, layout_code) 
            values(#{father_category}, #{layout_name},#{city_id}, #{layout_code})
     

        <selectKey keyProperty="layout_id" resultType="int" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>  
	</insert>
	
	
	<select id="getLayouts"  resultType="Layout" parameterType="Layout">
   		select * from layout  where city_id = #{city_id} and (layout_name = #{layout_name} or layout_code = #{layout_code}) and is_del=0
    </select>
	
	
	
	
	<select id="selectLayoutByCategory"  resultType="Layout" parameterType="int">
		select * from layout where father_category = #{father_category} and is_del=0
    </select>
	
	
	<select id="getLayoutByCid"  resultType="Layout" parameterType="int">    
    	select * from layout where city_id = #{city_id} and is_del=0
    </select>

	<select id="getLayoutByLid"  resultType="Layout" parameterType="int">    
    	select * from layout where layout_id = #{layout_id} and is_del=0
    </select>

    <update id="deleteLayoutByLayoutId"  parameterType="int" >
		update layout set is_del=1 where layout_id = #{layout_id} 
    </update>
    
    <update id="deleteLayoutCategoryById"  parameterType="int" >
		update layout_category set is_del=1 where id = #{id} 
    </update>
    
    
    
</mapper>

