<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>新增字段</title>
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        tr.odd.selected, tr.even.selected {
            background-color: #B0BED9 !important;
        }

        #preview img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="javascript:void()" style="font-size: 18px">
                    <img src="assets/img/logo-login.png" width="240px" style="margin-left: -5px; margin-top: -5px">
                </div>
                
        <div id="sideNav" href="">
        <i class="fa fa-bars icon"></i> 
        </div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="active">
                        <a href="javascript:void()"><i class="fa fa-dashboard"></i> 信息化测绘管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active-menu" href="guanxian-list.html">管线标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">勘察标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">房产测绘标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">规划审批标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">其他测绘标准</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-desktop"></i> 信息化项目管理</a>
                    </li>
                     
                    <li>
                        <a href="coord-list.html"><i class="fa fa-sitemap"></i> 坐标系管理</a>
                    </li>   
                            
                    <li>
                        <a href="javascript:void()"><i class="fa fa-qrcode"></i> 地图管理</a>
                    </li>
                    
                    <li>
                        <a href="javascript:void()"><i class="fa fa-dashboard"></i> 权限管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="user-list.html">账号管理</a>
                            </li>
                            <li>
                                <a href="javascript:void()">权限分配</a>
                            </li>
                            <li>
                                <a href="group.html">项目分类权限</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-edit"></i> 逻辑管理</a>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-fw fa-file"></i> 系统帮助</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
    	   <div class="header"> 
                <h1 class="page-header">
                    {{title}}
                </h1>
                <ol class="breadcrumb">
                  <li><a href="index.html">首页</a></li>
                  <li><a href="javascript:void()">信息化测绘管理</a></li>
                  <li><a href="guanxian-list.html">管线标准</a></li>
                  <li class="active">{{title}}</li>
                </ol>   			
    	   </div>
            <div id="page-inner"> 
            	<form style="background-color: white; padding: 20px" @submit.prevent="submit">
                    <label>字段名 </label>
                    <input type="text" name="name" v-model="name" :disabled="disable"><br><br>
                    <label>字段代码 </label>
                    <input type="text" name="code" v-model="code" :disabled="disable"><br><br>
                    <label>类型 </label>
                    <select v-model="type" :disabled="disable">
                        <option v-for="item in items" :value="item">{{item}}</option>
                    </select><br><br>
                    <label>备注 </label>
                    <input type="text" name="remark" v-model="remark" :disabled="disable"><br><br>
                    <label>属性长度 </label>
                    <input type="number" name="length" v-model="length" :disabled="disable"><br><br>
                    <label>是否可输入 &nbsp;</label>
                    <label><input type="radio" name="input" :value="1" v-model="input" :disabled="disable"> 是</label>&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="input" :value="0" v-model="input" :disabled="disable"> 否</label><br><br>
                    <label>是否必填 &nbsp;</label>
                    <label><input type="radio" name="must" :value="1" v-model="must" :disabled="disable"> 是</label>&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="must" :value="0" v-model="must" :disabled="disable"> 否</label><br><br>
                    <label>空时是否高亮 &nbsp;</label>
                    <label><input type="radio" name="light" :value="1" v-model="light" :disabled="disable"> 是</label>&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="light" :value="0" v-model="light" :disabled="disable"> 否</label><br><br>
                    <label>是否带记忆 &nbsp;</label>
                    <label><input type="radio" name="memory" :value="1" v-model="memory" :disabled="disable"> 是</label>&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="memory" :value="0" v-model="memory" :disabled="disable"> 否</label><br><br>
                    <label>是否可选择 &nbsp;</label>
                    <label><input type="radio" name="select" :value="1" v-model="select" :disabled="disable" @change="selectChange"> 是</label>&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="select" :value="0" v-model="select" :disabled="disable" @change="selectChange"> 否</label><br><br>
                    <label>父属性 </label>
                    <select v-model="father_param" :disabled="disable">
                        <option v-for="father in fathers" :value="father.id">{{father.param_name}}</option>
                    </select><br>
                </form>
                <div v-if="select==1" style="margin-top: 25px">
                    <div v-if="!disable || select!=0"><button class="btn btn-primary" style="float: right;" @click="addSet">新增</button></div>
                    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{modalTitle}}</h4>
                          </div>
                          <div class="modal-body">
                            <form id="myForm">
                                <label>选择项平台显示名称</label>
                                <input type="text" name="name" class="form-control" v-model="setName"><br>
                                <label>选择项后台存储名称</label>
                                <input type="text" name="value" class="form-control" v-model="setValue"><br> 
                                <label v-if="setNeedPic">图片</label>
                                <input v-if="setNeedPic" type="file" name="point_pic" @change="changePic">
                                <div v-if="setNeedPic" id="preview" style="width: 100px;height: 100px;border:1px solid gray;margin-top: 10px"></div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" @click="submitSet">确定</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <table class="table table-striped table-bordered table-hover" id="table-sets">
                        <thead>
                            <tr>
                                <th>选择项平台显示名称</th>
                                <th>选择项后台存储名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <button v-if="!disable || select!=0" @click="submit" class="btn btn-primary" style="margin-top: 15px">保存</button>
				<footer><p>Copyright &copy; 2017.Odeen All rights reserved.</p></footer>
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Vue Js -->
    <script src="assets/js/vue.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        var myVue;
        var addParams = new Array(); // 添加的属性
        var editParams = new Array(); // 编辑的属性
        var deleteParams = new Array(); // 删除的属性

        // 图片预览功能
        function preview1(file) {
        	var img = new Image();
        	var url = img.src = URL.createObjectURL(file);
        	var $img = $(img);
        	img.onload = function() {
        		URL.revokeObjectURL(url);
        		$('#preview').empty().append($img);
        	}
        }

        function preview2(src) {
        	var img = new Image();
        	img.src = src;
        	var $img = $(img);
        	img.onload = function() {
        		$('#preview').empty().append($img);
        	}
        }

        $(document).ready(function () {
            document.title = isNull(QueryString.id) ? '新增字段' : '编辑字段';

            myVue = new Vue({
                el: '#wrapper',
                data: {
                     name: QueryString.param_name,
                     code: QueryString.param_code,
                     type: QueryString.param_type,
                     items: [
                        'VARCHAR',
                        'INTEGER',
                        'DOUBLE',
                        'DATE'
                     ],
                     remark: QueryString.remark,
                     length: QueryString.param_length,
                     input: QueryString.is_input,
                     must: QueryString.is_must,
                     light: QueryString.is_light,
                     memory: QueryString.is_memory,
                     select: QueryString.is_select,
                     father: QueryString.father,
                     operate: QueryString.is_operate,
                     father_param: isNull(QueryString.father_param) ? 0 : QueryString.father_param,
                     father_title: QueryString.father_title,
                     fathers: [],
                     sets: [],
                     // 弹框中内容
                     modalTitle: '新增',
                     setName: '',
                     setValue: '',
                     setPic: null,
                     setId: -1,
                     setIndex: -1,
                     addSetIndex: -1,
                },
                computed: {
                    title: function() {
                        return isNull(QueryString.id) ? '新增字段' : '编辑字段';
                    },
                    disable: function() {
                        return (this.operate == 0);
                    },
                    setNeedPic: function() {
                        return (QueryString.type == 'point');
                    },
                },
                methods: {
                    submit: function() {
                        var formData = new FormData();
                        formData.append('father_param', this.father_param);
                        formData.append('param_name', this.name);
                        formData.append('param_code', this.code);
                        formData.append('param_type', this.type);
                        formData.append('is_input', this.input);
                        formData.append('is_select', this.select);
                        formData.append('is_must', this.must);
                        formData.append('is_light', this.light);
                        formData.append('is_memory', this.memory);
                        if (!isNull(this.remark)) { // 备注选填
                            formData.append('remark', this.remark);
                        }else {
                            formData.append('remark', '');
                        }
                        formData.append('param_length', this.length);

                        if (this.select) {
                            // 拼接选项添加数组
                            for (var i = 0; i < addParams.length; i++) {
                                var temp = addParams[i];
                                formData.append('addParams[' + i + '].name', temp.name);
                                formData.append('addParams[' + i + '].value', temp.value);
                                if (!isNull(temp.pic) && temp.pic.size>0) {
                                    formData.append('addParams[' + i + '].pic', temp.pic);
                                }
                            }
                            
                            // 拼接选项修改数组
                            for (var i = 0; i < editParams.length; i++) {
                                var temp = editParams[i];
                                formData.append('editParams[' + i + '].id', temp.id);
                                formData.append('editParams[' + i + '].name', temp.name);
                                formData.append('editParams[' + i + '].value', temp.value);
                                if (!isNull(temp.pic) && temp.pic.size>0) {
                                    formData.append('editParams[' + i + '].pic', temp.pic);
                                }
                            }

                            // 拼接选项删除数组
                            for (var i = 0; i < deleteParams.length; i++) {
                                var temp = deleteParams[i];
                                formData.append('deleteParams[' + i + '].id', temp.id);
                            }
                        }

                        // 修改接口名和参数
                        var url;
                        if (QueryString.type == 'point') {
                            url = baseUrl + "layout_point/pointParamAndSet";
                            formData.append('father_point', this.father);
                            if (!isNull(QueryString.id)) { // 修改
                                formData.append('point_paramid', QueryString.id);
                            }
                        }else if (QueryString.type == 'line') {
                            url = baseUrl + "layout_line/lineParamAndSet";
                            formData.append('father_line', this.father);
                            if (!isNull(QueryString.id)) { // 修改
                                formData.append('line_paramid', QueryString.id);
                            }
                        }else if (QueryString.type == 'area') {
                            url = baseUrl + "layout_area/areaParamAndSet";
                            formData.append('father_area', this.father);
                            if (!isNull(QueryString.id)) { // 修改
                                formData.append('area_paramid', QueryString.id);
                            }
                        }

                        // 请求接口
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', url, true);
                        xhr.onreadystatechange = function(response) {
                            var responseObj = JSON.parse(response.target.response);
                            if (xhr.readyState ==4) { // 请求完成了再做判断
                                if (responseObj.ret_num == 0) {
                                    alert(myVue.title + "成功");
                                    history.go(-1);
                                }else {
                                    alert(responseObj.ret_message);
                                }
                            }
                        }
                        xhr.send(formData);
                        
                    },
                    addSet: function() {
                        this.modalTitle = '新增';
                        this.setName = '';
                        this.setValue = '';
                        this.setPic = null;
                        this.setId = -1;
                        document.getElementById('myForm').reset();
                        $('#preview').empty(); // 移除预览图片
                        $('#myModal').modal();
                    },
                    submitSet: function() {
                        var temp = {
                            name: this.setName,
                            value: this.setValue,
                        };
                        // 判断是否有图片更改
                        var myForm = document.getElementById('myForm');
                        formData = new FormData(myForm);
                        if (formData.get('point_pic')) {
                            temp.pic = formData.get('point_pic');
                        }

                        if (this.setId > 0) { // 修改已上传的属性
                            temp.id = this.setId;
                            // 避免重复修改
                            var exists = false;
                            for (var i = 0; i < editParams.length; i++) {
                                var set = editParams[i];
                                if (set.id == this.setId) {
                                    exists = true;
                                    var index = editParams.indexOf(set);
                                    editParams.splice(index, 1, temp);
                                    break;
                                }
                            }
                            if (!exists) {
                                editParams.push(temp);
                            }
                            // 更新全局缓存
                            for (var i = 0; i < this.sets.length; i++) {
                                var set = this.sets[i];
                                if (set.id == this.setId) {
                                    var index = this.sets.indexOf(set);
                                    this.sets.splice(index, 1, temp);
                                    break;
                                }
                            }
                        }else { // 新增或修改未上传的属性
                        	if (this.modalTitle == '编辑') { // 修改未上传的属性
                        		alert('未上传属性无法编辑');
                        	}else { // 新增
                        		addParams.push(temp);
	                            // 更新全局缓存
	                            this.sets.push(temp);
                        	}
                        }

                        // 配置选项Table
                        configSetsTable();
                        document.getElementById('myForm').reset();
                        $('#preview').empty(); // 移除预览图片
                        $('#myModal').modal('hide');                       
                    },
                    selectChange: function() {
                        configSetsTable();  // 显示表格内容
                    },
                    changePic: function(e) {
                    	var file = e.target.files[0]
                		preview1(file)
                    }
                }
            });

            // 加载可选项
            if (!isNull(QueryString.id) && QueryString.is_select==1) {
                loadSets();
            }
            // 加载父属性列表
            loadFatherList();
        });

        // 加载可选项
        function loadSets() {
            var url;
            if (QueryString.type == 'point') {
                url = baseUrl + 'layout_point/getPointParamSets?point_paramid=' + QueryString.id;
            }else if (QueryString.type == 'line') {
                url = baseUrl + 'layout_line/getLineParamSets?line_paramid=' + QueryString.id;
            }else if (QueryString.type == 'area') {
                url = baseUrl + 'layout_area/getAreaParamSets?area_paramid=' + QueryString.id;
            }

            $.ajax({
                url: url,
                type: 'get',
                data: {},
                success: function(data) {
                    if (data.ret_num == 0) {
                        myVue.sets = data.data;
                        // 重新加载选项Table
                        configSetsTable();                        
                    }else {
                        alert(data.ret_message);
                    }
                },
                error: function(e) {
                    alert(e.status + ' ' + e.statusText);
                }
            });
        }

        // 加载父属性列表
        function loadFatherList() {
            var url;
            if (QueryString.type == 'point') {
                url = baseUrl + 'layout_point/getPointParams?father_point=' + QueryString.father;
            }else if (QueryString.type == 'line') {
                url = baseUrl + 'layout_line/getLineParams?father_line=' + QueryString.father;
            }else if (QueryString.type == 'area') {
                url = baseUrl + 'layout_area/getAreaParams?father_area=' + QueryString.father;
            }

            $.ajax({
                url: url,
                type: 'get',
                data: {},
                success: function(data) {
                    if (data.ret_num == 0) {
                        /// 统一ID字段
                        for (var i = 0; i < data.data.length; i++) {
                            if (QueryString.type == 'point') {
                                data.data[i].id = data.data[i].point_paramid;
                            }else if (QueryString.type == 'line') {
                                data.data[i].id = data.data[i].line_paramid;
                            }else if (QueryString.type == 'area') {
                                data.data[i].id = data.data[i].area_paramid;
                            }
                            // 从父属性中去除自己
                            if (QueryString.id == data.data[i].id) {
                                data.data.splice(i,1);
                            }
                        }
                        // 加入去除父属性字段
                        data.data.splice(0,0,{
                            id: '0',
                            param_name: '无'
                        });
                        myVue.fathers = data.data;
                    }else {
                        alert(data.ret_message);
                    }
                },
                error: function(e) {
                    alert(e.status + ' ' + e.statusText);
                }
            });
        }

        // 配置选项Table
        function configSetsTable() {
            $('#table-sets').DataTable({
                lengthChange: false, // 禁止用户改变每页显示条数
                searching: false, // 禁用用上角搜索
                ordering: false, // 禁用排序功能
                destroy: true,
                data: myVue.sets,
                columns: [
                    {data: 'name'},
                    {data: 'value'},
                ],
                columnDefs:[
                    {
                        "targets": 2,
                        "render": function(data, type, row) {
                            var editBtn = "<a href='javascript:void()' id='edit'>编辑</a>";
                            var deleteBtn = "<a href='javascript:void()' id='delete'>删除</a>"; 
                            return editBtn + '&nbsp&nbsp' + deleteBtn;
                        }
                    }
                ],
                language: language,
            });

            $('#table-sets tbody').on('click', 'a#edit', function(){
                var data = $('#table-sets').DataTable().row($(this).parents('tr')).data();
                myVue.setIndex = $('#table-sets').DataTable().row($(this).parents('tr')).index();
                myVue.modalTitle = '编辑';
                myVue.setName = data.name;
                myVue.setValue = data.value;
                myVue.setPic = data.pic;
                myVue.setId = data.id;
                $('#myModal').modal();
                if (data.pic == null && !isNull(data.pic_path)) { // 图片路径预览
                	var src = baseUrl + data.pic_path;
                	preview2(src);
                }else if (data.pic != null && data.pic.size>0) { // 图片文件预览
                	preview1(data.pic);
                }else { // 无图片预览
                	$('#preview').empty(); // 移除预览图片
                }
            });

            $('#table-sets tbody').on('click', 'a#delete', function(){
                var data = $('#table-sets').DataTable().row($(this).parents('tr')).data();
                if (data.id > 0) { // 删除已上传属性
                    deleteParams.push(data);
                    // 更新全局缓存
                    for (var i = 0; i < myVue.sets.length; i++) {
                        var set = myVue.sets[i];
                        if (set.id == data.id) {
                            var index = myVue.sets.indexOf(set);
                            myVue.sets.splice(index, 1);
                            break;
                        }
                    }
                }else { // 删除未上传属性
                	// 更新添加缓存
                	for (var i = 0; i < addParams.length; i++) {
                        var set = addParams[i];
                        if (set.name == data.name && set.value == data.value) {
                            var index = addParams.indexOf(set);
                            addParams.splice(index, 1);
                            break;
                        }
                    }
                	// 更新全局缓存
                    for (var i = 0; i < myVue.sets.length; i++) {
                        var set = myVue.sets[i];
                        if (set.name == data.name && set.value == data.value) {
                            var index = myVue.sets.indexOf(set);
                            myVue.sets.splice(index, 1);
                            break;
                        }
                    }
                }
                // 配置选项Table
                configSetsTable();
            });
        }

    </script>
      <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
    
   
</body>
</html>
