<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>管线标准</title>
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        .loading{
             width: 80px;
             height: 40px;
             left: 50%;
             top: 50%;
             margin-left: -40px;
             margin-top: -20px;
             /*margin: 0 auto;
             margin-top:100px;*/
             position: absolute;
         }
         .loading span{
             display: inline-block;
             width: 8px;
             height: 100%;
             border-radius: 4px;
             background: lightgreen;
             -webkit-animation: load 1s ease infinite;
         }
         @-webkit-keyframes load{
             0%,100%{
                 height: 40px;
                 background: lightgreen;
             }
             50%{
                 height: 70px;
                 margin: -15px 0;
                 background: lightblue;
             }
         }
         .loading span:nth-child(2){
             -webkit-animation-delay:0.2s;
         }
         .loading span:nth-child(3){
             -webkit-animation-delay:0.4s;
         }
         .loading span:nth-child(4){
             -webkit-animation-delay:0.6s;
         }
         .loading span:nth-child(5){
             -webkit-animation-delay:0.8s;
         }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="javascript:void()" style="font-size: 18px">
                    <img src="assets/img/logo-login.png" width="240px" style="margin-left: -5px; margin-top: -5px">
                </div>
                
        <div id="sideNav" href="">
        <i class="fa fa-bars icon"></i> 
        </div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="active">
                        <a href="javascript:void()"><i class="fa fa-dashboard"></i> 信息化测绘管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active-menu" href="guanxian-list.html">管线标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">勘察标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">房产测绘标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">规划审批标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">其他测绘标准</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-desktop"></i> 信息化项目管理</a>
                    </li>
                     
                    <li>
                        <a href="coord-list.html"><i class="fa fa-sitemap"></i> 坐标系管理</a>
                    </li>   
                            
                    <li>
                        <a href="javascript:void()"><i class="fa fa-qrcode"></i> 地图管理</a>
                    </li>
                    
                    <li>
                        <a href="javascript:void()"><i class="fa fa-dashboard"></i> 权限管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="user-list.html">账号管理</a>
                            </li>
                            <li>
                                <a href="javascript:void()">权限分配</a>
                            </li>
                            <li>
                                <a href="group.html">项目分类权限</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-edit"></i> 逻辑管理</a>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-fw fa-file"></i> 系统帮助</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		      <div class="header"> 
                    <h1 class="page-header">
                    	管线标准
                    </h1>
					<ol class="breadcrumb">
					  <li><a href="index.html">首页</a></li>
					  <li><a href="javascript:void()">信息化测绘管理</a></li>
					  <li class="active">管线标准</li>
					</ol>			
		      </div>
            <div id="page-inner"> 
            	<a href="guanxian-add.html" class="btn btn-primary" style="float: right;">添加</a>
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>创建者</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>

                <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">复制标准</h4>
                      </div>
                      <div class="modal-body">
                        <div v-if="displayLoading" class="loading">
                             <span></span>
                             <span></span>
                             <span></span>
                             <span></span>
                             <span></span>
                        </div>

                        <form id="myForm">
                            <label>标准名称</label>
                            <input type="text" name="name" class="form-control" v-model="standardName"><br>
                            <label>创建者</label>
                            <input type="text" name="value" class="form-control" v-model="standardCreater"> 
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="submitCopy">确定</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

				 <footer><p>Copyright &copy; 2017.Odeen All rights reserved.</p></footer>
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Vue Js -->
    <script src="assets/js/vue.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            var myVue;
            $(document).ready(function () {
                myVue = new Vue({
                    el: '#wrapper',
                    data: {
                        standardName: '',
                        standardCreater: '',
                        standardId: -1,
                        displayLoading: false
                    },
                    methods: {
                        submitCopy: function() {
                            this.displayLoading = true;
                            $.ajax({
                                url: baseUrl + "city/copyCity",
                                type: 'post',
                                data: {
                                    city_id: this.standardId,
                                    name: this.standardName,
                                    creater: this.standardCreater
                                },
                                success: function(data) {
                                    myVue.displayLoading = false;
                                    if (data.ret_num == 0) {
                                        alert("复制成功");
                                        $('#myModal').modal('hide');
                                        location.reload();
                                    }else {
                                        alert(data.ret_message);
                                    }
                                },
                                error: function(e) {
                                    myVue.displayLoading = false;
                                    alert(e.status + ' ' + e.statusText);
                                }
                            });
                        }
                    }
                });

                $('#dataTables-example').dataTable({
                    "pageLength": 10,
                    "serverSide": true,
                    "ajax": function(data, callback, settings) {
                        var param = {
                            "page": (data.start / data.length)+1 // 当前页码
                        };
                        $.ajax({
                            "url": baseUrl + "city/cities",
                            "type": "GET",
                            "cache": false,
                            "data": param,
                            "dataType": "json",
                            "success": function(result) {
                                var returnData = {
                                    "draw": data.draw,
                                    "recordsTotal": result.count,
                                    "recordsFiltered": result.count,
                                    "data": result.data,
                                    "error": result.ret_message
                                };
                                callback(returnData);
                            }
                        });

                    },
                    "language": language,
                    "lengthChange": false, // 禁止用户改变每页显示条数
                    "searching": false, // 禁用用上角搜索
                    "info": false, // 不显示左下角信息
                    "ordering": false, // 禁用排序功能
                    // "dataSrc": "data",
                    "columns":[
                        {"data": "city_name"},
                        {"data": "creater"},
                        {
                            "data": "created_at",
                            "render": function(data) {
                                var date = new Date();
                                date.setTime(data);
                                return date.toLocaleDateString();
                            }
                        }
                    ],
                    "columnDefs":[
                        {
                            "targets": 3,
                            "render": function(data, type, row) {
                                var editBtn = "<a href='guanxian-add.html?city_id=" + row.city_id
                                 + "&city_name=" + row.city_name + "&creater=" + row.creater + "'>编辑</a>";
                                var copyBtn = "<a href='javascript:void()' onclick='copyItem(" + row.city_id + "," + '"' + row.city_name + '"' + "," + '"' + row.creater + '"' + ")'>复制</a>";
                                var deleteBtn = "<a href='javascript:void()' onclick='deleteItem(" + row.city_id + ")'>删除</a>";
                                return editBtn + '&nbsp&nbsp' + copyBtn + '&nbsp&nbsp' + deleteBtn;
                            }
                        }
                    ]
                });
            });

            // 复制
            function copyItem(city_id, city_name, creater) {
                myVue.standardId = city_id;
                $('#myModal').modal();
            }

            // 删除
            function deleteItem(city_id) {
                $.ajax({
                    url: baseUrl + "city/deleteCityByCityId",
                    type: 'post',
                    data: {
                        city_id: city_id
                    },
                    success: function(data) {
                        if (data.ret_num == 0) {
                            alert("删除成功");
                            location.reload();
                        }else {
                            alert(data.ret_message);
                        }
                    },
                    error: function(e) {
                        alert(e.status + ' ' + e.statusText);
                    }
                });
            }

    </script>
      <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
    
   
</body>
</html>
