<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>新增管线标准</title>
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="javascript:void()" style="font-size: 18px">
                    <img src="assets/img/logo-login.png" width="240px" style="margin-left: -5px; margin-top: -5px">
                </div>
                
        <div id="sideNav" href="">
        <i class="fa fa-bars icon"></i> 
        </div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="active">
                        <a href="javascript:void()"><i class="fa fa-dashboard"></i> 信息化测绘管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active-menu" href="guanxian-list.html">管线标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">勘察标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">房产测绘标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">规划审批标准</a>
                            </li>
                            <li>
                                <a href="javascript:void()">其他测绘标准</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-desktop"></i> 信息化项目管理</a>
                    </li>
                     
                    <li>
                        <a href="coord-list.html"><i class="fa fa-sitemap"></i> 坐标系管理</a>
                    </li>   
                            
                    <li>
                        <a href="javascript:void()"><i class="fa fa-qrcode"></i> 地图管理</a>
                    </li>
                    
                    <li>
                        <a href="javascript:void()"><i class="fa fa-dashboard"></i> 权限管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="user-list.html">账号管理</a>
                            </li>
                            <li>
                                <a href="javascript:void()">权限分配</a>
                            </li>
                            <li>
                                <a href="group.html">项目分类权限</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-edit"></i> 逻辑管理</a>
                    </li>

                    <li>
                        <a href="javascript:void()"><i class="fa fa-fw fa-file"></i> 系统帮助</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		      <div class="header"> 
                    <h1 class="page-header">
                    	{{title}}
                    </h1>
					<ol class="breadcrumb">
					  <li><a href="index.html">首页</a></li>
					  <li><a href="javascript:void()">信息化测绘管理</a></li>
                      <li><a href="guanxian-list.html">管线标准</a></li>
					  <li class="active">{{title}}</li>
					</ol>			
		      </div>
            <div id="page-inner"> 
                <div class="row">
                    <div class="col-xs-12">                 
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-inline" @submit.prevent="submit">
                                    <div class="form-group">
                                        <label for="exampleInputName2">名称</label>
                                        <input type="text" class="form-control" v-model="cityName">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2">创建者</label>
                                        <input type="text" class="form-control" v-model="creater">
                                    </div>
                                    <button type="submit" class="btn btn-default">保存</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p v-if="cityId" style="color: #337ab7; font-size: 14px; margin: 0; padding: 10px 10px">管线列表</p>
                <div v-if="cityId" style="background-color: white;">
                    <div style="width: 49%; padding: 20px; display: inline-block; vertical-align: top">
                        <div style="border: 1px solid #E8E8E8;">
                            <div style="background-color: #E8E8E8; padding: 5px">
                                <span>大类</span>
                                <a href="javascript:void()" @click="toggleDiag" style="float: right;">添加</a>
                            </div>
                            <div v-for="item in items" style="padding: 10px 5px" :id="item.id" :name="item.name">
                                <label><input type="radio" name="category" @click="choseCategory"> {{item.name}}</label>
                                <div style="float: right;">
                                    <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="editCategory">编辑</a>
                                    <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="copyCategory">复制</a>
                                    <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="deleteCategory">删除</a>
                                </div>
                            </div>
                            <div v-if="showCategoryAdd" style="line-height: 44px">
                                <span>名称</span>
                                <input type="text" name="name" style="width: 100px;height: 30px" v-model="categoryName">
                                <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="addCategory">确定</a>
                                <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="toggleDiag">取消</a>
                            </div>
                        </div>
                    </div>
                    <div v-if="subCategoryTitle" style="width: 49%; padding: 20px; display: inline-block; vertical-align: top">
                        <div style="border: 1px solid #E8E8E8;">
                            <div style="background-color: #E8E8E8; padding: 5px">
                                <span>{{subCategoryTitle}}</span>
                                <a href="javascript:void()" @click="toggleSubDiag" style="float: right;">添加</a>
                            </div>
                            <div v-for="item in subItems" style="padding: 10px 5px" :id="item.layout_id" :name="item.layout_name" :code="item.layout_code">
                                <label style="width: 80px">{{item.layout_name}}</label>
                                <label style="width: 50px">{{item.layout_code}}</label>
                                <div style="float: right;">
                                    <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="editSubCategory">编辑</a>
                                    <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="copySubCategory">复制</a>
                                    <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="deleteSubCategory">删除</a>
                                </div>
                            </div>
                            <div v-if="showSubCategoryAdd" style="line-height: 44px">
                                <span>名称</span>
                                <input type="text" name="name" style="width: 80px;height: 30px" v-model="subCategoryName">
                                <span>代码</span>
                                <input type="text" name="code" style="width: 50px;height: 30px" v-model="subCategoryCode">
                                <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="addSubCategory">确定</a>
                                <a href="javascript:void()" class="btn btn-default" style="padding: 2px" @click="toggleSubDiag">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- 复制大类 -->
                <div class="modal fade" tabindex="-1" role="dialog" id="mainModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">复制大类</h4>
                      </div>
                      <div class="modal-body">
                        <form id="myForm">
                            <label>大类名称</label>
                            <input type="text" name="name" class="form-control" v-model="mainName"><br>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="copyMain">确定</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!-- 复制小类 -->
                <div class="modal fade" tabindex="-1" role="dialog" id="subModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">复制小类</h4>
                      </div>
                      <div class="modal-body">
                        <form id="myForm">
                            <label>小类名称</label>
                            <input type="text" name="name" class="form-control" v-model="subName"><br>
                            <label>小类代码</label>
                            <input type="text" name="name" class="form-control" v-model="subCode"><br>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="copySub">确定</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

				<footer style="subCategoryTitle"><p>Copyright &copy; 2017.Odeen All rights reserved.</p></footer>
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Vue Js -->
    <script src="assets/js/vue.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            var myVue;
            $(document).ready(function () {
                var city_id = QueryString.city_id;
                if (!isNull(city_id)) {
                    document.title = "编辑管线标准";
                    myVue = new Vue({
                        el: '#wrapper',
                        data: {
                            title: "编辑管线标准",
                            cityId: QueryString.city_id,
                            cityName: QueryString.city_name,
                            creater: QueryString.creater,
                            items: [],
                            subItems: [],
                            showCategoryAdd: false,
                            showSubCategoryAdd: false,
                            categoryName: '',
                            subCategoryName: '',
                            subCategoryCode: '',
                            subCategoryTitle: '',
                            fatherCategory: -1,
                            editFatherCategory: -1,
                            editCategoryMode: false,
                            mainName: '',
                            subName: '',
                            subCode: '',
                            mainId: -1,
                            subId: -1,
                            chosenMainId: -1,
                        },
                        methods: {
                            submit: function() {
                                $.ajax({
                                    url: baseUrl + "city/updateCity",
                                    type: 'post',
                                    data: {
                                        city_id: QueryString.city_id,
                                        name: this.$data.cityName,
                                        creater: this.$data.creater
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            history.go(-1);
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            },
                            toggleDiag: function() {
                                myVue.$data.showCategoryAdd = !myVue.$data.showCategoryAdd;
                                if (!myVue.$data.showCategoryAdd) {
                                    myVue.$data.editCategoryMode = false;
                                    myVue.$data.editFatherCategory = -1;
                                }else if(!myVue.$data.editCategoryMode) {
                                    myVue.$data.categoryName = '';
                                }
                            },
                            toggleSubDiag: function() {
                                myVue.$data.showSubCategoryAdd = !myVue.$data.showSubCategoryAdd;
                            },
                            addCategory: function() {
                                if (this.$data.editCategoryMode) { // 编辑
                                    $.ajax({
                                        url: baseUrl + "layout_city/updateLayoutCategory",
                                        type: 'post',
                                        data: {
                                            city_id: QueryString.city_id,
                                            name: this.$data.categoryName,
                                            id: this.$data.editFatherCategory
                                        },
                                        success: function(data) {
                                            if (data.ret_num == 0) {
                                                loadCategories();
                                                myVue.$options.methods.toggleDiag();
                                            }else {
                                                alert(data.ret_message);
                                            }
                                        },
                                        error: function(e) {
                                            alert(e.status + ' ' + e.statusText);
                                        }
                                    });
                                }else { // 添加
                                    $.ajax({
                                        url: baseUrl + "layout_city/addLayoutCategory",
                                        type: 'post',
                                        data: {
                                            city_id: QueryString.city_id,
                                            name: this.$data.categoryName,
                                        },
                                        success: function(data) {
                                            if (data.ret_num == 0) {
                                                loadCategories();
                                                myVue.$options.methods.toggleDiag();
                                            }else {
                                                alert(data.ret_message);
                                            }
                                        },
                                        error: function(e) {
                                            alert(e.status + ' ' + e.statusText);
                                        }
                                    });
                                }
                            },
                            addSubCategory: function() {
                                $.ajax({
                                    url: baseUrl + "layout_city/addLayout",
                                    type: 'post',
                                    data: {
                                        city_id: QueryString.city_id,
                                        layout_name: this.$data.subCategoryName,
                                        layout_code: this.$data.subCategoryCode,
                                        father_category: this.$data.fatherCategory
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            loadSubCategories(myVue.$data.fatherCategory);
                                            myVue.$options.methods.toggleSubDiag();
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            },
                            deleteCategory: function(event) {
                                var id = event.target.parentNode.parentNode.getAttribute('id');
                                $.ajax({
                                    url: baseUrl + "layout_city/deleteLayoutCategoryById",
                                    type: 'post',
                                    data: {
                                        id: id
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            loadCategories();
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            },
                            deleteSubCategory: function(event) {
                                var id = event.target.parentNode.parentNode.getAttribute('id');
                                $.ajax({
                                    url: baseUrl + "layout_city/deleteLayoutByLayoutId",
                                    type: 'post',
                                    data: {
                                        layout_id: id
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            loadSubCategories(id);
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            },
                            editCategory: function(event) {
                                var id = event.target.parentNode.parentNode.getAttribute('id');
                                var name = event.target.parentNode.parentNode.getAttribute('name');
                                this.$data.editFatherCategory = id;
                                this.$data.editCategoryMode = true;
                                this.$data.categoryName = name;
                                myVue.$options.methods.toggleDiag();
                            },
                            editSubCategory: function(event) {
                                var id = event.target.parentNode.parentNode.getAttribute('id');
                                var name = event.target.parentNode.parentNode.getAttribute('name');
                                var code = event.target.parentNode.parentNode.getAttribute('code');
                                location.href = 'guanxian-edit.html?name=' + name + '&id=' + id + '&code=' + code + '&city_id=' + QueryString.city_id;
                            },
                            copyMain: function() {
                                $.ajax({
                                    url: baseUrl + "layout_city/copyLayoutCategory",
                                    type: 'post',
                                    data: {
                                        id: this.mainId,
                                        city_id: QueryString.city_id,
                                        name: this.mainName
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            $('#mainModal').modal('hide');
                                            loadCategories();
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            },
                            copySub: function() {
                                $.ajax({
                                    url: baseUrl + "layout_city/copyLayout",
                                    type: 'post',
                                    data: {
                                        layout_id: this.subId,
                                        city_id: QueryString.city_id,
                                        layout_code: this.subCode,
                                        layout_name: this.subName
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            $('#subModal').modal('hide');
                                            loadSubCategories(myVue.chosenMainId);
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            },
                            copyCategory: function(event) {
                                this.mainId = event.target.parentNode.parentNode.getAttribute('id');
                                this.mainName = '';
                                $('#mainModal').modal();
                            },
                            copySubCategory: function(event) {
                                this.subId = event.target.parentNode.parentNode.getAttribute('id');
                                this.subName = '';
                                this.subCode = '';
                                $('#subModal').modal();
                            },
                            choseCategory: function(event) {
                                var id = event.target.parentNode.parentNode.getAttribute('id');
                                this.subCategoryTitle = event.target.parentNode.parentNode.getAttribute('name');
                                this.chosenMainId = id;
                                loadSubCategories(id);
                            }
                        }
                    });
                    loadCategories();
                }else {
                    document.title = "新增管线标准";
                    myVue = new Vue({
                        el: '#wrapper',
                        data: {
                            title: "新增管线标准",
                            cityName: QueryString.city_name,
                            creater: QueryString.creater
                        },
                        methods: {
                            submit: function() {
                                $.ajax({
                                    url: baseUrl + "city/addCity",
                                    type: 'post',
                                    data: {
                                        name: this.$data.cityName,
                                        creater: this.$data.creater
                                    },
                                    success: function(data) {
                                        if (data.ret_num == 0) {
                                            history.go(-1);
                                        }else {
                                            alert(data.ret_message);
                                        }
                                    },
                                    error: function(e) {
                                        alert(e.status + ' ' + e.statusText);
                                    }
                                });
                            }
                        }
                    });
                }
            });

            // 加载大类
            function loadCategories() {
                $.ajax({
                    url: baseUrl + "layout_city/layoutCategories",
                    type: 'get',
                    data: {
                        city_id: QueryString.city_id
                    },
                    success: function(data) {
                        if (data.ret_num == 0) {
                            myVue.items = data.data;
                        }else {
                            alert(data.ret_message);
                        }
                    },
                    error: function(e) {
                        alert(e.status + ' ' + e.statusText);
                    }
                });
            }

            // 加载小类
            function loadSubCategories(id) {
                $.ajax({
                    url: baseUrl + "layout_city/getLayoutByCategory",
                    type: 'get',
                    data: {
                        father_category: id
                    },
                    success: function(data) {
                        if (data.ret_num == 0) {
                            myVue.fatherCategory = id;
                            myVue.subItems = data.data;
                        }else {
                            alert(data.ret_message);
                        }
                    },
                    error: function(e) {
                        alert(e.status + ' ' + e.statusText);
                    }
                });
            }
    </script>
      <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
    
   
</body>
</html>
